<div class="wrapper">
  <div class="top-bar">
    <h3>Add invoice dialog</h3>
    <button type="button" class="btn close" routerLink="">X</button>
  </div>

  <div class="side-bar">
    <button>Invoice Information</button>
    <button [disabled]="!retrieving">Payments</button>
  </div>

  <div class="content">
      <div class="form-wrapper">
        <div class="item-div">
          <label for="Date">Date</label>
          <input type="date" id="Date" [(ngModel)]="date">
        </div>
  
        <div class="item-div">
          <label for="Subject">Subject</label>
          <input type="text" [(ngModel)]="subject">
        </div>
  
        <div class="custom-control custom-switch item-div">
          <input type="checkbox" class="custom-control-input" id="Retrieving" [(ngModel)]="retrieving">
          <label class="custom-control-label" for="Retrieving">Retrieve amount from bank account</label>
        </div>
  
        <div class="item-div" *ngIf="!retrieving">
          <label for="Amount">Amount</label>
          <input type="number" id="Amount" [(ngModel)]="amount">
        </div>
  
        <button (click)="submit()" class="btn btn-primary" [disabled]="isValid()">{{ btnText }}</button>
      </div>
    </div>
  

</div>