<div class="wrapper">
    <div class="top-bar">
      <p>Invoice dialog</p>
      <button type="button" class="btn close" routerLink="">X</button>
    </div>
  
    <div class="side-bar">
      <button>Invoice Information</button>
      <button [disabled]="!retrieving">Payments</button>
    </div>
  
    <div class="content">
      <label for="Date">Date</label>
      <input type="date" id="Date" [(ngModel)]="invoice.Date">
  
  
      <label for="Subject">Subject</label>
      <input type="text" [(ngModel)]="invoice.Subject">
  
  
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="Retrieving" [(ngModel)]="invoice.Retrieving">
        <label class="custom-control-label" for="Retrieving">Retrieve amount from bank account</label>
      </div>
  
  
      <label for="Amount">Amount</label>
      <input type="number" id="Amount" [(ngModel)]="invoice.Amount">
  
      <button (click)="submit()">Done</button>
    </div>
  
  </div>